@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,800");
* {
  margin: 0;
  padding: 0; }

.white {
  color: #fff !important; }

.sobre {
  margin-top: 20px;
  margin-bottom: 20px; }

.sub-sobre {
  font: 25px "Open Sans", Tahoma;
  text-align: center;
  margin: 20px;
  font-weight: 500; }

.clear {
  clear: both; }

header {
  width: 100%;
  height: 600px;
  background: url("../images/header.jpg") center; }
  header nav {
    width: 100%; }
    header nav .logo {
      float: left;
      margin: 5px; }
    header nav ul {
      float: right;
      margin-top: 20px; }
      header nav ul li {
        display: inline;
        color: #ed7801;
        font: 20px "Open Sans", Tahoma;
        margin: 10px; }
        header nav ul li a {
          color: #ed7801;
          text-decoration: none;
          padding: 10px;
          transition: all 1s;
          font-weight: 700; }
          header nav ul li a:hover {
            background: #762823; }
  header .msg {
    float: left;
    width: 400px;
    background: rgba(0, 0, 0, 0.6);
    margin-left: 50px;
    margin-top: 100px;
    font-family: "Open Sans", Tahoma;
    color: #ed7801;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #ed7801; }
    header .msg p {
      font-size: 24px;
      margin: 10px; }
  header .max {
    float: right;
    margin-right: 50px; }

#menu {
  margin: 10px;
  float: right;
  background: #ed7801;
  color: #762823;
  border: 0px solid #762823;
  border-radius: 5px;
  padding: 10px;
  display: none; }
  #menu i {
    font-size: 30px; }

section {
  width: 100%;
  padding: 30px 0; }
  section h1 {
    font: 36px "Open Sans", Tahoma;
    color: #762823;
    text-align: center;
    margin: 20px;
    font-weight: 900; }

.container {
  width: 900px;
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */ }
  .container .coluna {
    flex: 1;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    font: 15px "Open Sans", Tahoma;
    text-align: center; }
    .container .coluna img {
      width: 200px; }
    .container .coluna:hover {
      border-color: #762823; }

#info {
  background: url("../images/fogo.jpg") center fixed;
  background-size: cover;
  color: #fff; }
  #info i {
    font-size: 60px;
    margin: 10px; }

footer {
  height: 50px;
  width: 100%;
  background: #333;
  color: #fff;
  padding-bottom: 20px;
  text-align: center; }
  footer p {
    padding-top: 24px; }

.formulario {
  width: 100%;
  text-align: center; }

.form-control {
  padding: 5px; }

label {
  margin: 10px;
  padding: 10px;
  font-weight: 500;
  font-family: "Open Sans", Tahoma;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px; }

.form-input {
  width: 60%;
  padding: 10px;
  border: 1px solid #d3c9c9;
  border-radius: 3px;
  margin-left: 10px; }

.btn-default {
  padding: 10px;
  background: transparent;
  color: #333;
  border: 1px solid #d3c9c9;
  min-width: 200px; }

.btn-default:hover {
  padding: 10px;
  background: #f2f2f2;
  color: #333; }

@media (max-width: 480px) {
  #menu {
    display: block;
    width: 100%; }

  header .msg {
    width: 90%;
    margin: 0;
    margin-left: 17px;
    padding: 5px; }
  header .max {
    width: 100%;
    text-align: center; }

  nav ul {
    display: none; }

  .container {
    width: 320px;
    flex-wrap: wrap; }

  .logo {
    width: 100%; }
    .logo img {
      width: 98%; }

  nav ul {
    background: #fff;
    width: 100%;
    float: left; }
    nav ul li {
      width: 100%;
      display: block;
      padding: 20px 0;
      float: left; } }

/*# sourceMappingURL=estilo.css.map */
