@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

$cor1: #26c9ff;
$cor2: #0085b2;
$cor3: #f1f1f1;
$texto: #333;
$fonte: "Open Sans", Tahoma, Verdana;
body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	font: 16px $fonte;
	color: $texto;
	overflow: hidden;
}
h1{
	text-align: center;
	color: $texto;
	font-weight: 500;
}
section{
	padding: 50px 0;
	transition: 0.5s all;
}
main{
	height: 100%;
	margin-top: 60px;
	overflow: scroll;
	overflow-x: hidden;
}
.pad-top-20{padding-top: 20px;}
#menu{
	position: fixed;
	top: 0;
	z-index: 10;
}
.navbar{
	box-shadow: 1px 1px 6px $texto;
}
.nav-link{
	color: $texto;
	margin-left: 5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background: transparent;
	border-top: 1px solid;
	border-bottom: 1px solid;
	transition: 0.5s all;
	color: $texto;
	border-radius: 0;
}
.content-box{
	margin-top: 10px;
	margin-bottom: 20px;
}
#fundador-section{
	/*background: $cor3;*/
	background: url('../imagens/bg-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	color: $cor3;
}
#fundador{
	color: $cor3;
}
.section-form-content{
	padding-top: 150px;
}